@media(max-width:1024px) {
    header .container {
        flex-direction: column;
        padding-top: 15px;
    }

    header {
        background: rgb(185, 184, 184);
        opacity: 1;
        position: relative;
        z-index: 1;
        width: 100%;
        height: auto;
    }

    .logo img{
        height: 40px;
    }

    .sitenav {
        margin-top: 16px;
        width: 100%;
    }

    .sitenav li {
        flex-grow: 1;
    }

    .slides {
        min-height: auto;
        margin-top: 0;
    }

    .galery__list {
        justify-content: center;
    
    }

    /* .galery__item:not(:nth-child(2n)) {
        margin-right: 20px;
    } */

    .galery__item {
        width: 45%;
        margin-right: 20px;
    }

    .galery__item img {
        object-fit: cover;
        object-position: center;
    }

    .team__list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .team__item {
        width: 45%;
        margin-right: 20px;
        justify-content: center;
    }
}

@media(max-width:800px) {

    .process, .galery, .team, .reviews, .contact{
        padding-top: 40px;  
    }

    header .container {
        padding-left: 0;
        padding-right: 0;
    }

    .burger-menu {
        display: block;
        background: var(--grey);
        width: 100%;
        padding: 20px 0;
        cursor: pointer;
        border: none;
        color: var(--white);
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-size: 16px;
    }

    .sitenav ul {
        flex-direction: column;
        display: none;
    } 

    .sitenav a {
        padding: 20px 0;
        background: var(--grey);
        color: var(--white);
        border-top: 2px solid var(--white);
        
    }

    .sitenav a:hover {
        background: #747373
    }

    .slides h1 {
        font-size: 36px;
    }

    .process_list ,
    .contact_list {
        flex-wrap: wrap;
        justify-content: center;
    }

    .process_discription,
    .contact_discription {
        padding: 10px 0;
        width: 100%;
        line-height: 22px;
    }

    .galery__list {
        flex-direction: column;
        align-items: center;
    }

    .galery__item {
        width: 90%;
        display: flex;
        justify-content: center;
    }

    
    .item_discrip {
        width: 45%;
    }

    .galery__item p {
        
        width: auto;
    }

}

