*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --white: #fff;
    --grey: #474747;
    --wrapWidth: 2560px;
    --contWidth: 950px; 
}

body {
    background: var(--white);
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Vollkorn', serif;
    line-height: 20px;
}

span {
    display: block;
    padding: 10px 0;
}

.wrapper {
    max-width: var(--wrapWidth);
    margin: 0 auto;
}

.container {
    max-width: var(--contWidth);
    margin: 0 auto;
    text-align: center;
    padding: 0 0px;
}

header {
    background: rgb(185, 184, 184);
    opacity: 0.8;
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.sitenav ul {
    list-style: none;
    display: flex;
}

.sitenav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #404040;
    display: block;
    padding: 26px 23px;
    transition: 0.3s;
    margin: 0 auto;
}

.sitenav a:hover {
    color: var(--white);
    background: var(--grey);
}

header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.burger-menu {
    display: none;
}

.slider {
    position: relative;
    overflow: hidden;
}

.arrow {
    background-image: url(/img/arrow.png);
    background-size: contain;
    background-position: center;
    width: 25px;
    height: 25px;
    position: absolute;
    cursor: pointer;
}

.arrow.slider-next {
    top: 45%;
    right: 40px;
}

.arrow.slider-prev {
    transform: rotate(180deg);
    top: 45%;
    left: 40px;
}


.slide {
    min-height: 391px;
}

.slides {
    display: flex;
    transition: all ease 1s;
    margin-top: 74px;
}

.slide-1 {
    background: url(../img/bg_about.jpg) center/cover fixed; 
}

.slide-2 {
    background: url(../img/bg_about2.jpg) center/cover fixed; 
}

.slide-3 {
    background: url(https://images.unsplash.com/photo-1563262924-641a8b3d397f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80) top/cover fixed; 
}

.slide-3 h1 {
    color: #383838;
}

.slides-container, 
.discription {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: inherit;
}

.slides-container {
    max-width: 672px;
}

.slides h1 {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    font-style: normal;
    text-transform: uppercase;
    font-size: 40px;
    padding: 50px 0;
}

.slides p {
    color: var(--white);
    padding: 0 0 50px 0;
}

.discription {
    font-family: 'Vollkorn', serif;
    height: 289px;
    background: #FEFEC9;
    color: var(--grey);
}

.discription p {
    padding-top: 60px;
}

.btn_get {
    font-family: 'Vollkorn', serif;
    margin: 40px auto;
    width: 160px;
    background: #FEFEC9;
    border-radius: 5px;
    border: #000 solid 2px;
}

.btn_get a {
    display: block;
    text-decoration: none;
    color: var(--grey);
    padding: 20px;
    transition: all 0.5s;
    font-size: 16px;
}

.btn_get :hover {
    border: #000 solid 2px;
    border-radius: 5px;
    transform: scale(1.03);
    color: #ABABAB;
    font-size: 18px;
}

.process,
.contact {
    padding-top: 80px;
    color: #333333;
}

.section_title {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 50px;
}

.process_list,
.contact_list {
    display: flex;
    justify-content: space-around;
}

.process_list li,
.contact_list li {
    display: block;
    width: 300px;
    padding-right: 40px;
}

.process_img,
.contact_img {
    display: block;
    height: 145px;
}

.process_img.img-1 {
    background: url(../img/cake_11.png) center no-repeat;
}

.process_img.img-2 {
    background: url(../img/cake_2.png) center no-repeat;
}

.process_img.img-3 {
    background: url(../img/cake_44.png) center no-repeat;
}

.process_discription,
.contact_discription {
    padding: 30px 0;
    width: 100%;
    line-height: 22px;
}

.process_discription span,
.contact_discription span {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.galery {
    background-color: #F5F5F5;
    padding: 80px 0;
}

.section_title {
    position: relative;
}

.section_title::before {
    position: absolute;
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: rgba(0, 0, 0, 0.09);
    left: 45.74%;
    right: 45.74%;
    top: 74px;
}

.galery__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-between;
}

.galery__item {
    display: block;
    width: 300px;
    background-color: var(--white);
    margin-bottom: 20px;
}

.galery__item:not(:nth-child(3n)) {
    margin-right: 20px;
}

.galery__item img {
    width: 100%;
    min-width: 300px;
    height: auto;
    display: block;
    object-fit: contain;
    object-position: top;
    transition: all 1s;
}

.galery__item img:hover {
    transform: scale(1.1);
}

.galery__item p {
    display: inline-block;
    padding-bottom: 20px;
    width: 300px;
}

.popup {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    transform: translate(0px, 0px);
    opacity: 1;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 74px 10px;
    transition: all 0.5s ease 0s;
}

.popup__content {
    background-color: #fff;
    color: #000;
    max-width: 80%;
    padding: 30px;
    position: relative;
    transition: all 0.5s ease 0s;
    opacity: 0;
    transform: translate(0px, -100%);
}

.popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 0;
    background-color: rgba(255, 255, 255, .5);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 2px 10px;
    cursor: pointer;
    
}

.popup__close a {
    text-decoration: none;
    color: #000;
    opacity: .8;
}

.popup__image img{
    max-width: 100%;
}
.popup .item_discrip {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.popup__title {
    font-size: 40px;
    margin: 10px;
}

.popup__text {
    align-items: center;
    text-align: center;
}

.team {
    padding: 80px 0;
}

.team__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.team__item {
    margin: 0 auto 20px auto;
}

.team__item_img {
    width: 220px;
    height: 220px;
    margin: 0 auto;
    background-position: center;
}

.team__item_img.img-1 {
    background: url(../img/team1.png);
    background-size: contain;
}
.team__item_img.img-2 {
    background: url(https://images.unsplash.com/photo-1614436163996-25cee5f54290?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=442&q=80);
    background-size: contain;
    background-repeat: no-repeat;
}

.team__item_img.img-3 {
    background: url(https://images.unsplash.com/photo-1610896011699-bf6f466b024e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=385&q=80);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.team__item_img.img-4 {
    background: url(https://images.unsplash.com/photo-1541614101331-1a5a3a194e92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=465&q=80);
    background-size: contain;
    background-repeat: no-repeat;
}

.team__item_social {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.team__item_social a {
    transition: all 0.3s;
    display: inline-block;
}

.team__item_social a:hover {
    transform: scale(1.1);
}

.team__item_social li {
    list-style: none;
    display: block;
    margin: 0 10px;
}

.link {
    background: url(../img/linkedin.png) no-repeat center/cover;
    width: 18px;
    height: 14px;
}

.tw {
    background: url(../img/social_tw.png) no-repeat ;
    display: block;
    width: 14px;
    height: 11.5px;
}

.fb {
    background: url(../img/social_fb.png)  no-repeat center;
    width: 14px;
    height: 14px;
}

.be {
    background: url(../img/social_be.png) no-repeat center;
    width: 14px;
    height: 14px;
}

.inst {
    background: url(../img/social_inst.png) no-repeat center;
    width: 14px;
    height: 14px;
}

.mail {
    background: url(../img/social_mail.png) no-repeat center;
    width: 14px;
    height: 14px;
}

.ball {
    background: url(../img/social_ball.png) no-repeat center;
    width: 14px;
    height: 14px;
}

.reviews {
    background-color: #F5F5F5;
    padding: 70px 0;
}

.reviews__title {
    display: inline-block;
    width: 62px;
    height: 62px;
    background: url(../img/quotes.png) ;
}

.reviews__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.review-item {
    width: 36%;
}

.review-item__img {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.review-item__img.foto-1 {
    background: url(../img/quotes1.png);
}

.review-item__img.foto-2 {
    background: url(../img/quotes2.png);
}

.review-item span {
    text-transform: uppercase;
    font-size: 16px;
    color: #ABABAB;
    padding: 10px 0;
}

.review-item p {
    font-size: 26px;
    line-height: 33px;
    padding: 65px 0 20px 0;
}

.contact {
    background: url(/img/contact_bg.png) no-repeat center/cover;
    margin-top: 0;
    padding: 80px 0;
}

.contact_discription a {
    display: inline-block;
    margin-top: 20px;
    transition: all 0.3s;
    text-decoration: none;
    font-family: 'Vollkorn', serif;
    color: #333333;
}

.contact_discription a:hover {
    transform: scale(1.1);
}

.contact_img.geo {
    background: url(../img/contact_geo.png) center no-repeat;
    
}

.contact_img.comp_mail {
    background: url(../img/contact_mail.png) center no-repeat;
}

.contact_img.social {
    background: url(../img/contact_social.png) center no-repeat;
}

.contact_list_social li {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 20px;
}

.contact_list_social a {
    display: inline;
    margin-right: 20px;
    margin-top: 0;
    transition: all 0.3s;
}

.contact_list_social a:hover {
    transform: scale(1.2);
}

footer {
    background: #000;
    padding-top: 50px;
}

.form .feelds {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    
}

.form .feelds > fieldset {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: none;
}

.send_info {
    justify-content: space-between;
    margin-right: 0px;
}

.send_info input {
    background-color: rgb(58, 57, 57);
    border: none;
    color: #fff;
    padding: 15px;
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    transition: all 0.5s;
}

.send_info ::-webkit-input-placeholder,
.send_message ::-webkit-input-placeholder {
    color: rgb(255, 255, 255, 0.8);
}

.send_info input:hover {
    transform: scale(1.03);
    border-radius: 3px;
 }

.send_info input:nth-child(2) {
    background: rgb(78, 77, 77);
}

.send_message {
    transition: all 0.5s;
}

.send_message textarea {
    background: rgb(78, 77, 77);
    border-radius: 0px;
    height: 127px;
    border: none;
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    padding-left: 10px;
    color: white;
    resize: none;
    padding: 10px;
}

.send_message:hover {
   transform: scale(1.03);
   border-radius: 3px;
}

.btn_order {
    background-color: #000;
    border: #7EC4BD solid 1px;
    border-radius: 3px;
    text-align: center;
    transition: all 1s;
    margin: 22px auto;
    cursor: pointer;
}

.btn_order:hover {
    transform: scale(1.2);
    border: #7EC4BD solid 2px;
}

.btn_order {
    display: block;
    padding: 10px 60px;
    text-decoration: none;
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #8BCAC3;
}

.footer_logo {
    margin-top: 5px;
    margin-bottom: 5px;
}

footer p {
    font-family: 'Vollkorn';
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: rgb(122, 121, 121);
    padding-bottom: 74px;
    width: 80%;
    margin: 0 auto;
}

