*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --white: #fff;
    --grey: #474747;
    --wrapWidth: 1440px;
    --contWidth: 950px; 
}

body {
    background: var(--white);
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Oswald', sans-serif; */
}

p {
    font-family: 'Vollkorn', serif;
    line-height: 20px;
}

span {
    display: block;
    padding: 10px 0;
}

.wrapper {
    max-width: var(--wrapWidth);
    margin: 0 auto;

}

.container {
    max-width: var(--contWidth);
    margin: 0 auto;
    text-align: center;
    padding: 0 0px;
}

/* .logo {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #404040;
    display: inline-block;
    vertical-align: 20px;
    font-size: 22px;
    
} */

nav ul {
    list-style: none;
    display: flex;
}

nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #404040;
    display: block;
    padding: 36px 23px;
    transition: 0.3s;
    
    margin: 0 auto;
    
}

nav a:hover {
    color: var(--white);
    background: var(--grey);
}

header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.burger-menu {
    display: none;
}

.about {
    /* position: relative; */
}

.slider {
    min-height: 391px;
}

.slide-1 {
    background: url(../img/bg_about.jpg) center/cover fixed; 
}

.slide-2 {
    background: url(../img/bg_about2.jpg) center/cover fixed; 
}

.slide-3 {
    background: url(../img/about.jpg) top/cover fixed; 
}

.slide-3 h1 {
    color: #383838;
}

.slick-dots {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 90px;
    list-style: none;
}

.slick-dots button {
    font-size: 0;
    border: none;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 0 10px;
    background: #474747;
}

.slick-active button {
    background: white
}

.about-container, 
.discription {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: inherit;
}

.about-container {
    max-width: 672px;
}

.about h1 {
    font-family: 'Montserrat', sans-serif;
    color: var(--white);
    font-style: normal;
    text-transform: uppercase;
    font-size: 40px;
    padding: 50px 0;
}

.about p {
    color: var(--white);
    padding: 0 0 50px 0;
}

.discription {
    font-family: 'Vollkorn', serif;
    height: 289px;
    background: #FEFEC9;
    color: var(--grey);
}

.discription p {
    padding-top: 60px;
}

.btn_get {
    font-family: 'Vollkorn', serif;
    margin: 60px 0;
    padding: 20px;
    background: #FEFEC9;
    border-radius: 5px;
}

.process,
.contact {
    margin-top: 80px;
    color: #333333;
    
  }

.section_title {
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 70px;
}

.process_list,
.contact_list {
    display: flex;
    justify-content: space-around;
}

.process_list li,
.contact_list li {
    display: block;
    width: 300px;
    padding-right: 40px;
    
}

.process_img,
.contact_img {
    display: block;
    height: 145px;
}

.process_img.img-1 {
    background: url(../img/cake_11.png) center no-repeat;
}

.process_img.img-2 {
    background: url(../img/cake_2.png) center no-repeat;
}

.process_img.img-3 {
    background: url(../img/cake_44.png) center no-repeat;
}

.process_discription,
.contact_discription {
    padding: 30px 0;
    width: 100%;
    line-height: 22px;
}

.process_discription span,
.contact_discription span {
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.galery {
    background-color: #F5F5F5;
    padding: 80px 0;
}

.section_title {
    position: relative;
}

.section_title::before {
    position: absolute;
    content: "";
    display: block;
    width: 80px;
    height: 2px;
    background: rgba(0, 0, 0, 0.09);
    left: 45.74%;
    right: 45.74%;
    top: 74px;
}

.galery__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-between;
}

.galery__item {
    display: block;
    width: 300px;
    background-color: var(--white);
    margin-bottom: 20px;
    
}

.galery__item:not(:nth-child(3n)) {
    margin-right: 20px;
}

.galery__item img {
    width: 100%;
    min-width: 300px;
    height: auto;
    display: block;
    object-fit: contain;
    object-position: top;
    transition: all 1s;
}

.galery__item img:hover {
    transform: scale(1.1);
}

.galery__item p {
    display: inline-block;
    padding-bottom: 20px;
    width: 300px;
}

.team {
    margin: 80px 0;
}

.team__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.team__item {
    margin: 0 auto 20px auto;
}

.team__item_img {
    width: 220px;
    height: 220px;
    margin: 0 auto;
}

.img-1 {
    background: url(../img/team1.png);
}
.img-2 {
    background: url(../img/team1.png);
}
.img-3 {
    background: url(../img/team1.png);
}
.img-4 {
    background: url(../img/team1.png);
}

.team__item_social {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.team__item_social a {
    transition: all 0.3s;
    display: inline-block;
}

.team__item_social a:hover {
    transform: scale(1.1);
}

.team__item_social li {
    list-style: none;
    display: block;
    margin: 0 10px;
}

.link {
    background: url(../img/linkedin.png) no-repeat center/cover;
    width: 18px;
    height: 14px;
}

.tw {
    background: url(../img/social_tw.png) no-repeat ;
    display: block;
    width: 14px;
    height: 11.5px;
}

.fb {
    background: url(../img/social_fb.png)  no-repeat center;
    width: 14px;
    height: 14px;
}

.be {
    background: url(../img/social_be.png) no-repeat center;
    width: 14px;
    height: 14px;
}

.inst {
    background: url(../img/social_inst.png) no-repeat center;
    width: 14px;
    height: 14px;
}

.mail {
    background: url(../img/social_mail.png) no-repeat center;
    width: 14px;
    height: 14px;
}

.ball {
    background: url(../img/social_ball.png) no-repeat center;
    width: 14px;
    height: 14px;
}

.reviews {
    background-color: #F5F5F5;
    padding: 70px 0;
}

.reviews__title {
    display: inline-block;
    width: 62px;
    height: 62px;
    background: url(../img/quotes.png) ;
}

.reviews__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.review-item {
    width: 36%;
}

.review-item__img {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.review-item__img.foto-1 {
    background: url(../img/quotes1.png);
}

.review-item__img.foto-2 {
    background: url(../img/quotes2.png);
}

.review-item span {
    text-transform: uppercase;
    font-size: 16px;
    color: #ABABAB;
    padding: 10px 0;
}

.review-item p {
    font-size: 26px;
    line-height: 33px;
    padding: 65px 0 20px 0;
}

.contact {
    background: url(/img/contact_bg.png) no-repeat center/cover;
    margin-top: 0;
    padding-top: 80px;
}

.contact_discription a {
    display: inline-block;
    margin-top: 20px;
    transition: all 0.3s;
    text-decoration: none;
    font-family: 'Vollkorn', serif;
    color: #333333;
}

.contact_discription a:hover {
    transform: scale(1.1);
}

.contact_img.geo {
    background: url(../img/contact_geo.png) center no-repeat;
    
}

.contact_img.comp_mail {
    background: url(../img/contact_mail.png) center no-repeat;
}

.contact_img.social {
    background: url(../img/contact_social.png) center no-repeat;
}

.contact_list_social li {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 20px;
}

.contact_list_social a {
    display: inline;
    margin-right: 20px;
    margin-top: 0;
    transition: all 0.3s;
}

.contact_list_social a:hover {
    transform: scale(1.2);
}

footer {
    background: #000;
    padding-top: 10px;
    
}

.form .feelds {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    align-items: center;
    
}

.form .feelds > fieldset {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: none;
}

.send_info {
    justify-content: space-between;
    margin-right: 0px;
}

.send_info input {
    background-color: rgb(58, 57, 57);
    border: none;
    color: #fff;
    padding: 15px;
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    transition: all 0.5s;
}

.send_info ::-webkit-input-placeholder,
.send_message ::-webkit-input-placeholder {
    color: rgb(255, 255, 255, 0.8);
}

.send_info input:hover {
    transform: scale(1.03);
    border-radius: 3px;
 }

.send_info input:nth-child(2) {
    background: rgb(78, 77, 77);
}

.send_message {
    transition: all 0.5s;
    
}

.send_message textarea {
    background: rgb(78, 77, 77);
    border-radius: 0px;
    height: 127px;
    border: none;
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    padding-left: 10px;
    color: white;
    resize: none;
    padding: 10px;
}

.send_message:hover {
   transform: scale(1.03);
   border-radius: 3px;
}

.btn_order {
    background-color: #000;
    border: #7EC4BD solid 1px;
    border-radius: 3px;
    text-align: center;
    transition: all 1s;
    margin: 22px auto;
    cursor: pointer;
}

.btn_order:hover {
    transform: scale(1.2);
    border: #7EC4BD solid 2px;
}

.btn_order {
    display: block;
    padding: 10px 60px;
    text-decoration: none;
    font-family: 'Vollkorn';
    font-style: italic;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #8BCAC3;
}

.footer_logo {
    margin-top: 37px;
    margin-bottom: 14px;
}

footer p {
    font-family: 'Vollkorn';
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: rgb(122, 121, 121);
    padding-bottom: 75px;

}

